@use '@/styles' as *;

.section {
  margin-top: $section-top-margin;
  .title {
    font-size: $font-size-xl;
    text-align: center;
    margin-bottom: 24px;
  }

  .container {
    margin-top: 8px;
  }
}
