@use '@/styles' as *;

.app {
  background-color: $background-color;
  width: 100%;
  height: auto;

  .main {
    padding: 24px 0;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;

    @include sp {
      padding: 24px 16px;
    }
  }
}
